In [67]:
import os
# Find the latest version of spark 3.x  from http://www.apache.org/dist/spark/ and enter as the spark version
# For example:
# spark_version = 'spark-3.4.0'
spark_version = 'spark-3.5.1'
os.environ['SPARK_VERSION']= spark_version

# Install Spark and Java
!apt-get update
!apt-get install openjdk-11-jdk-headless -qq > /dev/null
!wget -q http://www.apache.org/dist/spark/$SPARK_VERSION/$SPARK_VERSION-bin-hadoop3.tgz
!tar xf $SPARK_VERSION-bin-hadoop3.tgz
!pip install -q findspark

# Set Environment Variables
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = f"/content/{spark_version}-bin-hadoop3"

# Start a SparkSession
import findspark
findspark.init()

Hit:1 http://archive.ubuntu.com/ubuntu jammy InRelease
Get:2 http://archive.ubuntu.com/ubuntu jammy-updates InRelease [119 kB]
Hit:3 https://cloud.r-project.org/bin/linux/ubuntu jammy-cran40/ InRelease
Hit:4 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2204/x86_64  InRelease
Get:5 http://security.ubuntu.com/ubuntu jammy-security InRelease [110 kB]
Hit:6 http://archive.ubuntu.com/ubuntu jammy-backports InRelease
Hit:7 https://ppa.launchpadcontent.net/c2d4u.team/c2d4u4.0+/ubuntu jammy InRelease
Hit:8 https://ppa.launchpadcontent.net/deadsnakes/ppa/ubuntu jammy InRelease
Hit:9 https://ppa.launchpadcontent.net/graphics-drivers/ppa/ubuntu jammy InRelease
Hit:10 https://ppa.launchpadcontent.net/ubuntugis/ppa/ubuntu jammy InRelease
Fetched 229 kB in 2s (127 kB/s)
Reading package lists... Done

In [68]:
# Import packages
from pyspark.sql import SparkSession
import time

# Create a SparkSession
spark = SparkSession.builder.appName("SparkSQL").getOrCreate()

In [69]:
# 1. Read in the AWS S3 bucket into a DataFrame.
from pyspark import SparkFiles
url = "https://2u-data-curriculum-team.s3.amazonaws.com/dataviz-classroom/v1.2/22-big-data/home_sales_revised.csv"

spark.sparkContext.addFile(url)
df = spark.read.csv(SparkFiles.get("home_sales_revised.csv"), sep=",", header=True)

In [70]:
df.show()

+--------------------+----------+----------+------+--------+---------+-----------+--------+------+----------+----+
|                  id|      date|date_built| price|bedrooms|bathrooms|sqft_living|sqft_lot|floors|waterfront|view|
+--------------------+----------+----------+------+--------+---------+-----------+--------+------+----------+----+
|f8a53099-ba1c-47d...|2022-04-08|      2016|936923|       4|        3|       3167|   11733|     2|         1|  76|
|7530a2d8-1ae3-451...|2021-06-13|      2013|379628|       2|        2|       2235|   14384|     1|         0|  23|
|43de979c-0bf0-4c9...|2019-04-12|      2014|417866|       2|        2|       2127|   10575|     2|         0|   0|
|b672c137-b88c-48b...|2019-10-16|      2016|239895|       2|        2|       1631|   11149|     2|         0|   0|
|e0726d4d-d595-407...|2022-01-08|      2017|424418|       3|        2|       2249|   13878|     2|         0|   4|
|5aa00529-0533-46b...|2019-01-30|      2017|218712|       2|        3|       1965|   14375|     2|         0|   7|
|131492a1-72e2-4a8...|2020-02-08|      2017|419199|       2|        3|       2062|    8876|     2|         0|   6|
|8d54a71b-c520-44e...|2019-07-21|      2010|323956|       2|        3|       1506|   11816|     1|         0|  25|
|e81aacfe-17fe-46b...|2020-06-16|      2016|181925|       3|        3|       2137|   11709|     2|         0|  22|
|2ed8d509-7372-46d...|2021-08-06|      2015|258710|       3|        3|       1918|    9666|     1|         0|  25|
|f876d86f-3c9f-42b...|2019-02-27|      2011|167864|       3|        3|       2471|   13924|     2|         0|  15|
|0a2bd445-8508-4d8...|2021-12-30|      2014|337527|       2|        3|       1926|   12556|     1|         0|  23|
|941bad30-eb49-4a7...|2020-05-09|      2015|229896|       3|        3|       2197|    8641|     1|         0|   3|
|dd61eb34-6589-4c0...|2021-07-25|      2016|210247|       3|        2|       1672|   11986|     2|         0|  28|
|f1e4cef7-d151-439...|2019-02-01|      2011|398667|       2|        3|       2331|   11356|     1|         0|   7|
|ea620c7b-c2f7-4c6...|2021-05-31|      2011|437958|       3|        3|       2356|   11052|     1|         0|  26|
|f233cb41-6f33-4b0...|2021-07-18|      2016|437375|       4|        3|       1704|   11721|     2|         0|  34|
|c797ca12-52cd-4b1...|2019-06-08|      2015|288650|       2|        3|       2100|   10419|     2|         0|   7|
|0cfe57f3-28c2-472...|2019-10-04|      2015|308313|       3|        3|       1960|    9453|     2|         0|   2|
|4566cd2a-ac6e-435...|2019-07-15|      2016|177541|       3|        3|       2130|   10517|     2|         0|  25|
+--------------------+----------+----------+------+--------+---------+-----------+--------+------+----------+----+
only showing top 20 rows

In [71]:
# 2. Create a temporary view of the DataFrame.
df.createOrReplaceTempView('home_sales')

In [72]:
# 3. What is the average price for a four bedroom house sold per year, rounded to two decimal places?
spark.sql("""
SELECT YEAR(CAST(date AS DATE)) as YEAR_SOLD,
format_number(AVG(price), 2) as AVERAGE_PRICE
FROM home_sales
WHERE bedrooms = 4
GROUP BY YEAR_SOLD
ORDER BY YEAR_SOLD DESC
""").show()

+---------+-------------+
|YEAR_SOLD|AVERAGE_PRICE|
+---------+-------------+
|     2022|   296,363.88|
|     2021|   301,819.44|
|     2020|   298,353.78|
|     2019|   300,263.70|
+---------+-------------+

In [73]:
# 4. What is the average price of a home for each year the home was built,
# that have 3 bedrooms and 3 bathrooms, rounded to two decimal places?
spark.sql("""
SELECT date_built as BUILT_ON,
format_number(AVG(price), 2) as AVERAGE_PRICE,
bedrooms as BEDROOMS,
bathrooms as BATHROOMS
FROM home_sales
WHERE bedrooms = 3 AND bathrooms = 3
GROUP BY BUILT_ON, BEDROOMS, BATHROOMS
ORDER BY BUILT_ON DESC
""").show()

+--------+-------------+--------+---------+
|BUILT_ON|AVERAGE_PRICE|BEDROOMS|BATHROOMS|
+--------+-------------+--------+---------+
|    2017|   292,676.79|       3|        3|
|    2016|   290,555.07|       3|        3|
|    2015|   288,770.30|       3|        3|
|    2014|   290,852.27|       3|        3|
|    2013|   295,962.27|       3|        3|
|    2012|   293,683.19|       3|        3|
|    2011|   291,117.47|       3|        3|
|    2010|   292,859.62|       3|        3|
+--------+-------------+--------+---------+

In [74]:
# 5. What is the average price of a home for each year the home was built,
# that have 3 bedrooms, 3 bathrooms, with two floors,
# and are greater than or equal to 2,000 square feet, rounded to two decimal places?
spark.sql("""
SELECT date_built as BUILT_ON,
format_number(AVG(price), 2) as AVERAGE_PRICE,
bedrooms as BEDROOMS,
bathrooms as BATHROOMS,
floors as FLOORS,
sqft_living as SQUARE_FEET
FROM home_sales
WHERE bedrooms = 3 AND bathrooms = 3 AND floors = 2 AND sqft_living >= 2000
GROUP BY BUILT_ON, BEDROOMS, BATHROOMS, FLOORS, SQUARE_FEET
""").show()

+--------+-------------+--------+---------+------+-----------+
|BUILT_ON|AVERAGE_PRICE|BEDROOMS|BATHROOMS|FLOORS|SQUARE_FEET|
+--------+-------------+--------+---------+------+-----------+
|    2017|   201,315.00|       3|        3|     2|       2051|
|    2010|   265,472.00|       3|        3|     2|       2196|
|    2011|   217,404.00|       3|        3|     2|       2118|
|    2012|   218,519.00|       3|        3|     2|       2260|
|    2011|   126,371.00|       3|        3|     2|       2241|
|    2015|   431,064.00|       3|        3|     2|       2298|
|    2011|   175,144.00|       3|        3|     2|       2339|
|    2014|   200,106.00|       3|        3|     2|       2003|
|    2013|   393,225.00|       3|        3|     2|       2446|
|    2017|   120,507.00|       3|        3|     2|       2116|
|    2012|   267,107.00|       3|        3|     2|       2193|
|    2011|   125,151.00|       3|        3|     2|       2025|
|    2010|   176,508.00|       3|        3|     2|       2403|
|    2012|   191,422.00|       3|        3|     2|       2454|
|    2014|   361,762.00|       3|        3|     2|       2467|
|    2012|   273,607.50|       3|        3|     2|       2490|
|    2012|   182,700.00|       3|        3|     2|       2090|
|    2010|   140,377.00|       3|        3|     2|       2155|
|    2015|   390,345.00|       3|        3|     2|       2030|
|    2012|   329,388.00|       3|        3|     2|       2205|
+--------+-------------+--------+---------+------+-----------+
only showing top 20 rows

In [75]:
spark.sql("""
SELECT COUNT(*)
FROM home_sales
WHERE bedrooms = 3 AND bathrooms = 3 AND floors = 2 AND sqft_living >= 2000
""").show()

+--------+
|count(1)|
+--------+
|    1376|
+--------+

In [76]:
# 6. What is the average price of a home per "view" rating, rounded to two decimal places,
# having an average home price greater than or equal to $350,000? Order by descending view rating.
# Although this is a small dataset, determine the run time for this query.

start_time = time.time()

spark.sql("""
SELECT format_number(AVG(price), 2) as AVERAGE_PRICE,
view as VIEW
FROM home_sales
WHERE price >= 350000
GROUP BY VIEW
ORDER BY view DESC """).show()


print("--- %s seconds ---" % (time.time() - start_time))

+-------------+----+
|AVERAGE_PRICE|VIEW|
+-------------+----+
| 1,061,201.42|  99|
| 1,053,739.33|  98|
| 1,129,040.15|  97|
| 1,017,815.92|  96|
| 1,054,325.60|  95|
| 1,033,536.20|  94|
| 1,026,006.06|  93|
|   970,402.55|  92|
| 1,137,372.73|  91|
| 1,062,654.16|  90|
|   401,393.34|   9|
| 1,107,839.15|  89|
| 1,031,719.35|  88|
| 1,072,285.20|  87|
| 1,070,444.25|  86|
| 1,056,336.74|  85|
| 1,117,233.13|  84|
| 1,033,965.93|  83|
| 1,063,498.00|  82|
| 1,053,472.79|  81|
+-------------+----+
only showing top 20 rows

--- 0.8958954811096191 seconds ---

In [77]:
spark.sql("""
SELECT format_number(AVG(price), 2) as AVERAGE_PRICE,
view as VIEW
FROM home_sales
WHERE view = 100
GROUP BY VIEW
ORDER BY VIEW DESC""").show()

+-------------+----+
|AVERAGE_PRICE|VIEW|
+-------------+----+
| 1,026,669.50| 100|
+-------------+----+

In [78]:
# 7. Cache the the temporary table home_sales.
spark.sql("cache table home_sales")

DataFrame[]

In [79]:
# 8. Check if the table is cached.
spark.catalog.isCached('home_sales')

True

In [80]:
# 9. Using the cached data, run the last query above, that calculates
# the average price of a home per "view" rating, rounded to two decimal places,
# having an average home price greater than or equal to $350,000.
# Determine the runtime and compare it to the uncached runtime.

start_time = time.time()

spark.sql("""
SELECT format_number(AVG(price), 2) as AVERAGE_PRICE,
view as VIEW
FROM home_sales
WHERE price >= 350000
GROUP BY VIEW
ORDER BY view DESC """).show()


print("--- %s seconds ---" % (time.time() - start_time))

+-------------+----+
|AVERAGE_PRICE|VIEW|
+-------------+----+
| 1,061,201.42|  99|
| 1,053,739.33|  98|
| 1,129,040.15|  97|
| 1,017,815.92|  96|
| 1,054,325.60|  95|
| 1,033,536.20|  94|
| 1,026,006.06|  93|
|   970,402.55|  92|
| 1,137,372.73|  91|
| 1,062,654.16|  90|
|   401,393.34|   9|
| 1,107,839.15|  89|
| 1,031,719.35|  88|
| 1,072,285.20|  87|
| 1,070,444.25|  86|
| 1,056,336.74|  85|
| 1,117,233.13|  84|
| 1,033,965.93|  83|
| 1,063,498.00|  82|
| 1,053,472.79|  81|
+-------------+----+
only showing top 20 rows

--- 0.7244729995727539 seconds ---

In [81]:
# 10. Partition by the "date_built" field on the formatted parquet home sales data
df.write.partitionBy("date_built").mode("overwrite").parquet("home_sales")

In [82]:
# 11. Read the parquet formatted data.
parquet_df = spark.read.parquet('home_sales')

In [83]:
# 12. Create a temporary table for the parquet data.
parquet_df.createOrReplaceTempView('home_sales_temp')

In [84]:
# 13. Using the parquet DataFrame, run the last query above, that calculates
# the average price of a home per "view" rating, rounded to two decimal places,
# having an average home price greater than or equal to $350,000.
# Determine the runtime and compare it to the cached runtime.

start_time = time.time()

spark.sql("""
SELECT format_number(AVG(price), 2) as AVERAGE_PRICE,
view as VIEW
FROM home_sales
WHERE price >= 350000
GROUP BY VIEW
ORDER BY view DESC """).show()

print("--- %s seconds ---" % (time.time() - start_time))

+-------------+----+
|AVERAGE_PRICE|VIEW|
+-------------+----+
| 1,061,201.42|  99|
| 1,053,739.33|  98|
| 1,129,040.15|  97|
| 1,017,815.92|  96|
| 1,054,325.60|  95|
| 1,033,536.20|  94|
| 1,026,006.06|  93|
|   970,402.55|  92|
| 1,137,372.73|  91|
| 1,062,654.16|  90|
|   401,393.34|   9|
| 1,107,839.15|  89|
| 1,031,719.35|  88|
| 1,072,285.20|  87|
| 1,070,444.25|  86|
| 1,056,336.74|  85|
| 1,117,233.13|  84|
| 1,033,965.93|  83|
| 1,063,498.00|  82|
| 1,053,472.79|  81|
+-------------+----+
only showing top 20 rows

--- 0.5123789310455322 seconds ---

In [88]:
# 14. Uncache the home_sales temporary table.
spark.sql("uncache table home_sales")

DataFrame[]

In [89]:
# 15. Check if the home_sales is no longer cached
if spark.catalog.isCached("home_sales"):
  print("It seems like home_sales is still cached.")
else:
  print("home_sales is no longer cached!")

home_sales is no longer cached!